# Node.js dependencies
**/node_modules/

# Build output
**/dist/
**/build/

# Logs
**/logs
**/*.log
**/npm-debug.log*

# Environment variables
**/.env

# Coverage reports
**/coverage/

# Temporary files
**/*.tmp
**/*.temp

# IDE and editor configurations
**/.idea/
**/.vscode/
**/.DS_Store
**/Thumbs.db

# Operating system files
**/*.swp
**/*~

# Miscellaneous files
**/*.tgz
**/*.zip

# Ignore all test reports
**/test-results/
